* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	position: relative;
	width: 940px;
	margin: 100px auto;
}

.carousel {
	width: 940px;
	height: 270px;
	display: flex;
	overflow: hidden;
	background: skyblue;
	padding: 10px;
	transition: left 400ms linear;
}

.arrow {
	position: absolute;
	top: calc(270px / 2 - 25px);
	display: inline-block;
	height: 50px;
	width: 50px;
	background: url('../img/arrow.svg') no-repeat;

	&:hover {
		cursor: pointer;
	}
}

.arrow:first-child {
	transform: rotateY(180deg);
	left: -55px;
}

.arrow:last-child {
	right: -55px;
}

.carousel__row {
	display: flex;
	
	img {
		width: 300px;
		height: 250px;
	}

	img+img {
		margin-left: 10px;
	}	
}

.carousel__row + .carousel__row {
	margin-left: 10px;
}
