* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: rgba(0,0,0, .14);
}

.container {
	position: relative;
	width: 940px;
	margin: 100px auto;	
}

.carousel {
	background: white;
	width: 941px;
	height: 271px;
	display: flex;
	overflow: hidden;
	padding: 10px;	
	border: 1px solid grey;	
	box-shadow: 3px 3px 4px rgba(0, 0, 0, .3), 0 0 15px rgba(0, 0, 0, .3);
}

.carousel__row {	
	position:relative;	
	transition: left .7s linear;
}

.arrow {
	position: absolute;
	top: 270px / 2 - 25px;
	height: 50px;
	width: 50px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, .3), 0 0 15px rgba(0, 0, 0, .3);
	border-radius: 100%;
	transition: opacity 0.3s linear, transform .7s linear;

	&:hover {
		cursor: pointer;
	}
}

.arrow-left {	
	background-image:url('../img/icons.svg');
	background-position:-25px 0px;
	background-repeat:no-repeat;
	background-size: 100px 100px;
}

.arrow-right {	
	background-image:url('../img/icons.svg');
	background-position:-25px -50px;
	background-repeat:no-repeat;
	background-size: 100px 100px;
}

.arrow:first-of-type {
	left: -55px;
}

.arrow:last-of-type {
	right: -55px;
}

.carousel__row {
	display: flex;
	
	img {
		width: 300px;
		height: 250px;
	}

	img+img {
		margin-left: 10px;
	}	
}

.blocked {	
	opacity: 0.5;
}

.carousel__row + .carousel__row {
	margin-left: 10px;
}

// .decor {
// 	width: 150px;
// 	margin: 0 auto;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// }

// .decor__circle {
// 	width: 26px;
// 	height: 26px;
// 	border-radius: 100%;
// 	border: 7px solid skyblue;
// }
